.grid-frame {
    max-width: 400px;
    min-width: 360px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.table-row {
    display: flex;
    width: 400px;
    button {
        background:none;
        border:none;
    }
    button:focus { outline: none; }
    display: flex;
    flex-direction: row;
}

.table-cell {
    height: 40px;
    min-width: 150px;
    text-align: center;
    margin: auto;
    display: flex;
    font-size: 12px;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.table-cell-button {
    display: flex;
    flex-direction: row;
    min-width: 60px;
}

.header {
    font-weight: 700;
    background-color: #45B5A8;
    color: white;
    font-size: 14px;
}

.table-cell-input {
    background: none;
    border: none;
    font-size: 12px;
    outline: none;
    height: 40px;
    min-width: 150px;
    text-align: center;
}

.table-cell-input:focus {
    background: none;
    border: none;
    outline: none;
}